@{
    ViewData["Title"] = "Player";
}
@model PlayersViewModel
<form asp-controller="League" asp-action="AddPlayers" asp-antiforgery="true">
    <div class="form-horizontal">
        <h2>Add Player to Club</h2>
        <hr />
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <span class="alert-danger">@ViewBag.Error</span>
            <span class="alert-success">@ViewBag.Message</span>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="form-control-label col-md-2"></label>
            <div class="col-md-6">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ClubId" class="form-control-label col-md-2"></label>
            <div class="col-md-6">
                <select class="form-control" asp-for="ClubId" asp-items="@ViewBag.CId">
                    <option value="">---- Select Club ----</option>
                </select>
                <span asp-validation-for="ClubId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2"></div>
            <div class="col-md-10">

                <button type="submit" value="AddPlayer" class="btn bg-primary">Add Player to Club</button>
            </div>
        </div>

    </div>

</form>